CABApplication/Security Key/ModifyMeterProgramIndiaAMI.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="ModifyMeterProgramIndiaAMI"
    targetNamespace="http://Hunt.EPIC.Utilities/1.0/ModifyMeterProgramIndiaAMI.xsd"
    elementFormDefault="qualified"
    xmlns="http://Hunt.EPIC.Utilities/1.0/ModifyMeterProgramIndiaAMI.xsd"
    xmlns:mstns="http://Hunt.EPIC.Utilities/1.0/ModifyMeterProgramIndiaAMI.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ModifyMeterProgramIndiaAMI"  nillable="false" type="ModifyMeterProgramIndiaAMI" />
	<xs:complexType name="ModifyMeterProgramIndiaAMI">
		<xs:sequence>
			<xs:element name="EndpointModel" minOccurs="1" maxOccurs ="1" type="xs:string" nillable="false"></xs:element>
			<xs:element name="MeterFirmwareVersion" minOccurs="1" maxOccurs ="1" type="xs:string" nillable="false"></xs:element>
			<xs:element name="ModuleFirmwareVersion" minOccurs="1" maxOccurs ="1" type="xs:string" nillable="false"></xs:element>
			<xs:element name="ProgramName" minOccurs="1" maxOccurs ="1" type="ProgramName" nillable="false"></xs:element>
			<xs:element name="ProgramDescription" minOccurs="0" maxOccurs ="1" type="xs:string"></xs:element>
			<xs:element name="ProgramCRC" minOccurs="1" maxOccurs ="1"  type="xs:int" nillable="false"></xs:element>
			<xs:element name="MeterOperation" minOccurs="1" maxOccurs="unbounded" type="RequiredMeterOperation" nillable="false"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="RequiredMeterOperation"  nillable="false" type="RequiredMeterOperation" />
	<xs:complexType name="RequiredMeterOperation">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="ConfigType" type="ConfigType" />
			<xs:element minOccurs="0" maxOccurs="1" name="ConfigDescription" type="xs:string" />
			<xs:element minOccurs="1" maxOccurs="1" name="BinaryData" type="xs:base64Binary" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ProgramName" type="ProgramName" />
  <xs:simpleType name="ProgramName">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MeterConfigurationCategoryA" />
      <xs:enumeration value="MeterConfigurationCategoryB" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ConfigType" type="ConfigType" />
  <xs:simpleType name="ConfigType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DemandIP" />
      <xs:enumeration value="SurveyIP" />
      <xs:enumeration value="BillingDateTime" />
      <xs:enumeration value="OverVoltage" />
      <xs:enumeration value="LowVoltage" />
      <xs:enumeration value="OverLoad" />
      <xs:enumeration value="VeryLowPF" />
      <xs:enumeration value="MissingPotential" />
      <xs:enumeration value="NeutralDisturbance" />
      <xs:enumeration value="MagneticInfluence" />
      <xs:enumeration value="CurrentReversal" />
      <xs:enumeration value="CurrentImbalance" />
      <xs:enumeration value="OverCurrent" />
      <xs:enumeration value="CTOpen" />
      <xs:enumeration value="CTShort" />
      <xs:enumeration value="VoltageUnb" />
      <xs:enumeration value="PowerOnOff" />
      <xs:enumeration value="FutureDayProfile" />
      <xs:enumeration value="WeekProfile" />
      <xs:enumeration value="SeasonProfile" />
      <xs:enumeration value="FutureActivationDate" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
