CABApplication/Security Key/RequestEndDeviceSecurity1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://iec.ch/TC57/2011/schema/message" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://iec.ch/TC57/2011/schema/message" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://iec.ch/TC57/2011/GetEndDeviceSecurityConfig#" />
  <xs:element name="Header">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Verb" type="xs:string" />
        <xs:element name="Noun" type="xs:string" />
        <xs:element name="Revision" type="xs:decimal" />
        <xs:element name="Timestamp" type="xs:dateTime" />
        <xs:element name="Source" type="xs:string" />
        <xs:element name="MessageID" type="xs:string" />
        <xs:element name="CorrelationID" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Request">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://iec.ch/TC57/2011/GetEndDeviceSecurityConfig#" ref="q1:GetEndDeviceSecurityConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>