CABApplication/Security Key/RequestXML_DeviceSecurity1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://iec.ch/TC57/2011/GetEndDeviceSecurityConfig#" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://iec.ch/TC57/2011/GetEndDeviceSecurityConfig#" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetEndDeviceSecurityConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="EndDeviceSecurity">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Names">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string" />
                    <xs:element name="NameType">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="description" type="xs:string" />
                          <xs:element name="name" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="KeyEncryptionKey">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="modulus" type="xs:string" />
                    <xs:element name="exponent" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>